<section class="card">
    <header>
      <h2>{{title}}</h2>
      <p>Posted by {{user.username}} on {{createdAt}}</p>
      </header>
      <div>
        <p>
          {{content}}
        </p>
      </div>
</section>