{{!-- {{#each posts as |post|}}
{{> userpost-details}}
{{/each}} --}}


{{#each posts as |post|}}
{{> post-details}}
{{/each}}
<div>
<a href="/newpost"><button class="btn btn-primary">Make New Post</button></a>
</div>